<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head.ejs'); %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2"><%- include('./partials/sidebar.ejs') %></div>
        <div class="col-sm-10">
          <h1><%= title %></h1>
          <ul>
            <% genre_list.forEach((genre) => { %> 
              <%- include('./partials/genre',{genre: genre}); %> 
              <% }); %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
